<div class="page-header">
    <h1>About</h1>
</div>

<div class="panel panel-default box--shadow">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                Lights
            </div>
            <div class="col-xs-6 text-right"></div>
        </div>
    </div>
    <div class="panel-body">
        <p>
            Lights by default are <span class="label label-success">ON</span>
        </p>
    </div>
</div>
<div class="panel panel-default box--shadow">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                Curtains
            </div>
            <div class="col-xs-6 text-right"></div>
        </div>
    </div>
    <div class="panel-body">
        <p>
            Curtains by default are <span class="label label-danger">Closed</span>
        </p>
    </div>
</div>
<div class="panel panel-default box--shadow">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                Temperature
            </div>
            <div class="col-xs-6 text-right"></div>
        </div>
    </div>
    <div class="panel-body">
        <p>
            Temperature by default is set to <span class="label label-warning">25 &#8451;</span>
        </p>
    </div>
</div>
