<div class="row configuration__options">
    <div class="col-xs-12 col-sm-12 col-md-4">
        {{#link-to 'configure-lights' classNames="thumbnail configuration__option box--shadow text--blue"}}
            <span class="configuration__option__image configuration__option__image--lights"></span>
            <h3 class="configuration__option__description">Lights</h3>
        {{/link-to}}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
        {{#link-to 'configure-temperature' classNames="thumbnail configuration__option box--shadow text--blue"}}
            <span class="configuration__option__image configuration__option__image--temperature"></span>
            <h3 class="configuration__option__description">Temperature</h3>
        {{/link-to}}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
        {{#link-to 'configure-curtains' classNames="thumbnail configuration__option box--shadow text--blue"}}
            <span class="configuration__option__image configuration__option__image--curtains"></span>
            <h3 class="configuration__option__description">Curtains</h3>
        {{/link-to}}
    </div>
</div>
